<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <script th:src="@{/script.js}"></script>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<nav th:fragment="navigation">
    <ul>
        <li><a href="/events">All Events </a></li>
        <li><a href="/events/create">Create Event</a></li>
    </ul>
</nav>
<td th:fragment="Menteaship">1234 5th Street</td>
<td th:fragment="Code">5464 Main st</td>
<td th:fragment="Javascript">23 San Ramon</td>

</body>
</html>

